{% extends 'base_generic.html' %}
<!-- title -->
{% block title %} | User Dashboard {% endblock %}
<!-- content -->
{% block content %}


{% regroup user.favorite_videos.all|dictsort:"map_belong.name" by map_belong as grouped_by_category %}

  <div class="detail_header p-2 d-flex align-items-center justify-content-between">
    <h2 style="text-decoration: none;"> {{ user.username }}'s favorites</h2>
    <i class="bi bi-person-badge fs-3 px-2"></i>
  </div>

  {% for category in grouped_by_category %}
  <div class="heading_underline d-flex flex-row justify-content-start mt-4">
    <h4>{{ category.grouper }}</h4>
    <img 
      class="type_video_icon align-self-center rounded-circle shadow" 
      src="https://cstube.s3.amazonaws.com/icon_de_{{ category.grouper }}.png"
      alt="{{ category.grouper }}"
    >
  </div>

  <ul class="detail_list text-capitalize">

    {% for video in category.list|dictsort:"site" %}
    <li class="d-flex flex-row">
      <a href="/catalog/videos/{{video.pk}}">
        {% if video.admin_permission %}
          {{ video }} - <span class="link_info_end">{{ video.site }}</span>
        {% endif %}
      </a>
    </li>
    {% endfor %}
    
  </ul>
        {% endfor %}
        <!-- {{user.favorite_links.all}} -->

{% endblock %}
