{% extends "base_generic.html" %}

{% block content %}
<h1>CS:GO_tube</h1>
<ul>
  <li><strong>Maps:</strong> {{ num_maps }}</li>
  <li><strong>Videos:</strong> {{ num_videos }}</li>
</ul>
  <h4>Some useful links:</h4>
<ul id="useful_links">
  <li><a href="https://totalcsgo.com/callouts" target="_blank">Callouts</a></li>
  <li><a href="https://csgostash.com/" target="_blank">Skins</a></li>
  <li><a href="https://www.csgonades.com/" target="_blank">Utility</a></li>
  <li><a href="https://www.youtube.com/channel/UC_FUC8gOoKMBURcsCCCS9JA" target="_blank">buXers channel</a></li>
  <li><a href="https://www.hltv.org/" target="_blank">hltv</a></li>
  <li><a href="https://liquipedia.net/counterstrike/Main_Page" target="_blank">Liquipedia</a></li>
  <li><a href="https://blog.counter-strike.net/" target="_blank">Blog-cs:go</a></li>
</ul>
{% endblock %}