{% extends "base_generic.html" %}

{% block title %} | {{ map_link_list_detail }} {% endblock %}

{% block content %}
{% load custom_tags %}
<div class="row m-2">
  <h2 class="d-inline">Map: {{ map_link_list_detail }}</h2>
  <img 
    id="map_logo"  
    class="mx-2 align-self-center d-inline" 
    src="https://cstube.s3.amazonaws.com/icon_de_{{ map_link_list_detail }}.png" 
    alt="logo of {{ map_link_list_detail }}"
  />
</div>

{% regroup map_link_list_detail.links_set.all by type_video as grouped_by_category %}

{% for category in grouped_by_category %}
    <h4>{{ category.grouper }}</h4>
    <ul class="detail_list text-capitalize">
    {% for link in category.list|dictsort:"site" %}
    <li><a href="{{ link.link }}" target="_blank">{{ link.title | replace_with_space }} - {{link.site}}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

<!-- <ul class="detail_list text-capitalize">

  <h4>Smoke</h4>
  {% for link in map_link_list_detail.links_set.all|dictsort:"site" %}
    {% if link.type_video == 'Smoke' %}
      <li><a href="{{ link.link }}" target="_blank">{{ link }}/{{link.site}}</a></li>
    {% endif %}
  {% endfor %}

  <h4>Molly</h4>
  {% for link in map_link_list_detail.links_set.all|dictsort:"site" %}
    {% if link.type_video == 'Molly' %}
      <li><a href="{{ link.link }}" target="_blank">{{ link }}/{{link.site}}</a></li>
    {% endif %}
  {% endfor %}
  
  <h4>Flash</h4>
  {% for link in map_link_list_detail.links_set.all|dictsort:"site" %}
    {% if link.type_video == 'Flash' %}
      <li><a href="{{ link.link }}" target="_blank">{{ link }}/{{link.site}}</a></li>
    {% endif %}
  {% endfor %}

  <h4>Grenade</h4>
  {% for link in map_link_list_detail.links_set.all|dictsort:"site" %}
    {% if link.type_video == 'Nade' %}
      <li><a href="{{ link.link }}" target="_blank">{{ link }}/{{link.site}}</a></li>
    {% endif %}
  {% endfor %}

</ul> -->

{% endblock %}